*{
    background-color: rgb(201, 221, 252);
}
.logo{
    width: 12%;
    height: 4%;
    cursor: pointer;
}
.formulaire .li{
    list-style: none;
}
.formulaire li{
    display: flex;
    justify-content: space-between;
} 
li,.button{
    font-family: 'Verdana',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #336699;
    text-decoration: none;
}
.button{
    display: flex;
    justify-self: center;
    color:rgb(201, 221, 252) ;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s esase 0s;
}

.button:hover{
    background-color: rgba(0, 136, 169,0.8)
}
input{
    display: flex;
    justify-content:center;
    border-radius: 50px;
}
/* .div-1{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.div-2{
    display: flex;
    justify-content: space-evenly;
    margin: 10px ;
}
.div-3{
    display: flex;
    justify-content: space-evenly;
    margin: 10px ;
} */

