img{
    width: 12%;
    height: 4%;
}


*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 221, 252);
}


li,a,button{
    font-family: 'Verdana',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #336699;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color:#0088a9
}


button{
    color: rgb(201, 221, 252);
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s esase 0s;
}

button:hover{
    background-color: rgba(0, 136, 169,0.8)
}

.connexion{
    display: flex;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: #336699;
    
}

.body{
    background-color:rgb(201, 221, 252);
    padding: 1cm;
    margin: 1cm;
}

#pied{
    background-color: gainsboro;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;

}


h3{
    text-align: center;
    font-family: 'century',Verdana, Geneva, Tahoma, sans-serif
}


#contact{
    font-family: Geneva,Verdana, Tahoma, sans-serif;
}

#connex{
    text-align: center;
    text-decoration: none;
    color: #336699;
}

#inscrip{
    text-align: center;
    text-decoration: none;
    color: #336699;
}

#connex{
    display: flex;
    justify-content: center;
}

#inscrip{
    display: flex;
    justify-content: center;
}