<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-logging.css">
    <link rel="shortcut icon" href="/images/icon1.ico" type="image/x-icon">
    <title>Connexion-School</title>
</head>
<body>
    <header>
        <a href="index.html"  class="logo"><img src="/PNG/Fichier 2.png" alt="Logo" class="logo"></a>
    </header>

    <div class="formulaire">
        <form action="button" method="get">
            <h2>Connexion</h2>
            <ul>
                <li>Email</li>
                <input type="email" name="mail" id="mail">
                <li>Mot de passe</li>
                <input type="password" name="mot-depasse" id="password">
                <li><input type="checkbox" name="rememberme" id="check"> Me garder connecter</li>
            </ul>
            <button class="button" type="submit">Se connecter</button>
            
        </form>
    </div>
</body>
</html>