<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-signup.css">
    <link rel="shortcut icon" href="/images/icon1.ico" type="image/x-icon">
    <title>Inscription-School</title>
</head>
<body>
    <header>
        <a href="index.html"  class="logo"><img src="/PNG/Fichier 2.png" alt="Logo" class="logo"></a>
    </header>

    <div class="formulaire">
        <form action="button" method="get">
            <h2>Inscription</h2>
            <ul>
                <div class="div-1">
                    <li>Nom</li>
                    <li><input type="text" name="nom" id="nom"></li>
                    <li>Prenom(s)</li>
                    <li><input type="text" name="nom" id="prenom"></li>
                </div>

                <div class="div-3" >
                    <li>Nom d'ecole</li>
                <li><input type="text" name="nom" id="school"></li>
                    <li>Adresse</li>
                <li> <input type="email" name="mail" id="mail"></li>
                </div>

                <div class="div-2">
                    <li>Numéro de téléphone</li>
                <li><input type="tel" name="tele" id="phone"></li>
                    <li>Mot de passe</li>
                <li><input type="password" name="mot-depasse" id="password"></li>
                </div>

            </ul>
            <button class="button" type="submit">S'inscrire</button>
        </form>
    </div>
</body>
</html>